# Arquivos e pastas específicos do projeto
/logs/
*.log

# Arquivos de configuração de ambiente
.env

# Arquivos temporários
*.tmp
*.temp

# Arquivos de sistema
.DS_Store
Thumbs.db

# Pastas específicas do IDE/Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# arquivos ignorados pelo git
solicitante_nomes.txt
tabela_nomes.txt